:root {
    --bg-black-900: #f2f2fc;
    
}

*{/*    Reseteamos los estilos predeterminados del navegador    */
    margin: 0;/*Elimina el margen*/
    padding: 0;/*elimina el relleno*/
    outline: none;/*elimina el contorno*/
    text-decoration: none;/*elimina la decoración de texto*/
    box-sizing: border-box;
}

body{
    background-color: var(--bg-black-900);/*Color del fondo*/
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* estándar */
}

.seccion{/*estilos para cada sección*/
    display: flex;

}
.division{
    width: auto;
    height: 100px;
}

/*  pantalla principal  */

.titulos{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.titulos .logo{
    width: 200px;
    height: auto;
}

.logosecundario{
    width: 25%;
    height: auto;
}

h1{
    text-transform: uppercase;
    font-family: "Montserrat";
    color: #f2f2fc;
    font-size: 8rem;
    margin: 0;/*Elimina el margen*/
    letter-spacing: 1rem;/*Espacio entre las letras*/
}

h2{
    text-transform: uppercase;
    font-family: "Covered By Your Grace";
    color: #f2f2fc;
    font-size: 2.5rem;
    margin: 0;
    letter-spacing: 1rem;
}

.titulos p{
    text-transform: uppercase;
    font-family: "Monserrat";
    color: #f2f2fc;
    font-size: 1.5rem;
}

.hero{
    height: 100vh;
    display: flex;/*usamos flexbox*/
    flex-direction: row;/*dirección del flex*/
    justify-content: space-around;
    align-items: center;/*centra horizontalmente*/
    width: auto;
    overflow: hidden;/* Escondemos lo que sale del contenedor*/
}

.foto{
    width: 40%;
    margin-top: auto;
}


/*      barra de navegación     */
.sideBar{
    display: flex;/*Usamos flexbox*/
    flex-direction: row;/*direccion de la fila para el flexbox*/
    position: fixed;/*posicionamiento absoluto*/
    top: 0px;/*distancia desde la parte inferior*/
    width: 100%;/*ancho*/
    height: 70px;/*alto*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);/*sombra*/
    background: #fff;/*fondo*/
    z-index: 10;
}

/*.sideBar*/ .btns {
    display: flex; /* Usa flexbox para el diseño */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex: 1; /* Flex-grow de 1 */
    color: #000; /* Color del texto */
    letter-spacing: 0.1rem; /* Espaciado entre letras de 0.1rem */
    transition: all 0.5s ease; /* Transición */
    font-size: 0.8rem; /* Tamaño de fuente de 0.8rem */
}
/*.sideBar*/ .btns:hover {
    color: white; /* Color del texto al pasar el ratón */
    background: #FF0000; /* Fondo al pasar el ratón */
    transition: all 0.5s ease; /* Transición */
}


/* Quienes Somos */

.qss{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*border: 1px solid blue;*/

}

.saludo{
    font-family: "Covered By Your Grace";
    font-size: 2.5rem;
    text-decoration: underline;
    font-style: italic;
}

.txt.qss{
    display: flex;
    flex-direction: column;
}

.txt p{
    font-family: "Montserrat";
    font-size: 1.5rem;
    line-height: 2;
    width: 75%;
    margin-top: 50px;
}

.imagen.qss{
    width: 75%;
}

.qss img {
    width: 100%; /* hace que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* hace que la altura se ajuste automáticamente para mantener la proporción */
    margin: 10px; /* agrega un margen dentro del div */
}


/*      trayectoria     */
.try {
    display: inline-block;
    justify-content: space-between;
    margin-top: 5%;
}

.intr p {
    font-family: "Covered By Your Grace";
    font-size: 2.5rem;
    margin-left: 5%;
}
.segmento{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
    /*border: 1px solid blue;*/
}
.segmento p{
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-family: "Montserrat";
    font-size: 1.3rem;
}
.segmento img{
    width: 25%;
    height: auto;
    /*border: 1px solid blueviolet;*/
}

.segmento.drch img{
    margin-right: 3%;
}

.segmento.izq img{
    margin-left: 3%;
}

/*      contacto       */
.contacto{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /*border: 1px solid blue;*/
}

.cartas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    width: 100%;
}
.carta{
    display: flex;
    flex-direction: row;
}

.carta .cartacontenido{
    background-color: #fdf9ff;
    border: 1px solid #e8dfec;
    border-radius: 30px;
    margin: 15px 45px;
    height: 300px;
    width: 300px;
    padding: 50px 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.35 ease;
}

.carta .cartacontenido:hover{
    box-shadow: 0 0 20px rgba(253, 85, 85, 0.207);
}

.carta .cartacontenido .icono{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.carta .cartacontenido .icono .fa{
    font-size: 60px;
    line-height: 60px;
    color: red;
    transition: all 0.3s ease;
}

.carta .cartacontenido:hover .icono{
    background: #e8dfec;
}

.carta .cartacontenido:hover .icono .fa{
    font-size: 25px;
    color: #bb0000;
}

.carta .cartacontenido h4{
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;
    font-weight: 300;
    text-transform: capitalize;
    font-family: "Covered By Your Grace";
}

.carta .cartacontenido p{
    font-size: .8rem;
    color: black;
    font-family: "Montserrat";
    }

/* Media Queries para computadoras de escritorio */
@media only screen and (min-width: 1025px) {
    .hero{
        background: rgb(242,242,252);
        background: linear-gradient(270deg, rgba(242,242,252,1) 25%, rgba(215,55,57,1) 50%);
    }
    .logomovil{
        display: none;
    }
}
    
@media only screen and (max-width: 600px) {
    .titulos {
        flex-direction: column;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .logo{
        display: none;
    }
    .logosecundario{
        display: none;
    }
    .logomovil{
        width: 35%;
    }
    
    h1 {
        color: #f2f2fc;
        font-size: 6rem;
        margin: 0;
        letter-spacing: 0.5rem;
    }
    
    h2 {
        color: #f2f2fc;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    .titulos p{
        color: #f2f2fc;
        font-size: 1.5rem;
    }

    
    
    .hero {
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
        align-items: center;
        background: #D73739;
        padding-bottom: 25px;
    }

    .foto {
        width: 100%;
        margin-bottom: -10%;
    }

    .sideBar {
        display: none;
    }
    /*conoceme*/
    .qnsSms {
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .txt.qss {
        display: flex;
        flex-direction: row;
    }
    .txt p {
        font-size: 1.5rem;
        line-height: 1.5;
        width: 100%;
        padding: 0 20px;
    }
    .imagen.qss {
        width: 85%;
    }
    /* trayectoria */
    .try {
        margin-top: -30%;
    }

    .intr{
        font-size: 2rem;
    }
    
    .segmento {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .segmento p {
        font-size: 1.1rem;
        text-align: center;
    }
    
    .segmento img {
        width: 85%;
    }
    .segmento.drch{
        flex-direction: column;
        padding: 15px 0;
    }
    
    .segmento.izq{
        flex-direction: column-reverse;
    }
    .segmento.drch img{
        margin-right: 0%;
    }
    
    .segmento.izq img{
        margin-left: 0%;
    }
    /* contacto */
    .contacto {
        height: auto;
    }
    
    .cartas {
        height: auto;
    }
    
    .carta {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    
    .carta .cartacontenido {
        border-radius: 20px;
        margin: 20px;
        padding: 15px;
        width: 350px;
        height: auto;
    }
    
    .carta .cartacontenido .icono {
        height: 150px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
    }
    
    .carta .cartacontenido .icono .fa {
        font-size: 75px;
    }
    
    .carta .cartacontenido:hover .icono .fa {
        font-size: 35px;
    }
    
    .carta .cartacontenido h4 {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    
    .carta .cartacontenido p {
        font-size: 20px;
        line-height: 20px;
    }

    /*Barra lateral*/
    


}